.admin-dashboard{
    width: 90%;
    margin: 0px auto;
}

.panel__container{
    background: linear-gradient(90deg, rgba(251,246,143, .8) 0%, rgb(246, 135, 44, .8) 35%, rgba(247,213,57, .8) 100%), url('./img/pexels-keira-burton-6146978.jpg');
    background-position: 10%;
    margin: 80px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-attachment: fixed;
    text-align: center;
    color: aliceblue;

}

.panel__item{
    width: 40%;
    padding: 40px 0px;
}